@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>BLOG</h1>
    <p class="lead">This site is free for you to write your own thoughts. You will love it!</p>
    <p><a href="http://localhost:52460/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create an account so that you can enjoy writing.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52460/Account/Register">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Get more posts</h2>
        <p>This is your chance to write your own thoughts, make new friends and get promoted.</p>
        <p><a class="btn btn-default" href="http://localhost:52460/Posts">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Contact us any time if you have problems.</p>
        <p><a class="btn btn-default" href="http://localhost:52460/Home/Contact">Learn more &raquo;</a></p>
    </div>

</div>
